- if @page.flagged_as?('draft')
  .alert.alert-warning
    %i.icon-warning-sign
    This page is a draft, so it won't be displayed on the main website.

.row
  .span3.sidebar-menu
    = haml :sidebar, :layout => false

  .span9
    - display_breadcrumbs(:class => "breadcrumb", :active_class => "active", :divider => '/', :divider_class => 'divider')

    ~ @page.to_html(self)

    = disclaimer

    %section.pages
      = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

    - unless @page.articles.empty?
      %section.articles
        = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :header => :h3 }

- if @page.metadata('updated')
  - begin
    - datetime = DateTime.parse(@page.metadata('updated')).strftime("%Y-%m-%d")
  - rescue ArgumentError
    - datetime = false
  - if datetime
    %p.pull-right.muted{:style => "margin-top: 20px"}
      Last updated on
      = datetime
